<!DOCTYPE html>
<html>
<head>
<title>GoMobile - A next generation web app theme</title>
</head>
<body>
<div id="wrapper">

    <div id="content">
            <div id="header">
                  <div class="gohome radius20"><a href="index.html" id="homebutton"><img src="images/icons_contour/home.png" alt="" title="" /></a></div>
                  <div class="gomenu radius20"><a href="contact.html" id="contactbutton"><img src="images/icons_contour/contact.png" alt="" title="" /></a></div>
            </div>
            
            
       <div class="sliderbg">
                                        <div class="pages_container">
                                        <h2 class="page_title">Latest Tweets</h2>
                                        <div class="tweet"></div>
                                        <a href="#" class="button_11 blue">Follow Us!</a>
                                        <div class="clearfix"></div>
										<div class="scrolltop radius20"><a onClick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);"><img src="images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
         </div>
    </div>
</div> 
</body>
</html>