<!DOCTYPE html>
<html>
<head>
<title>GoMobile - A next generation web app theme</title>
</head>
<body>
<div id="wrapper">

    <div id="content">
            <div id="header">
                  <div class="gohome radius20"><a href="index.html" id="homebutton"><img src="images/icons/home.png" alt="" title="" /></a></div>
                  <div class="gomenu radius20"><a href="contact.html" id="contactbutton"><img src="images/icons/contact.png" alt="" title="" /></a></div>
            </div>
            
            
       <div class="sliderbg red">
<div class="pages_container">
                                        <h2 class="page_title">Our motto</h2>
                                        <blockquote>Design is the fundamental soul of a human-made creation that ends up expressing itself in successive outer layers of the product or service. <span class="quote_author">-Steve Jobs</span></blockquote>
                                        
                                        <h3>Our main services</h3>
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/services.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Web development</h4>
                                              <p>Lorem ipsum dolor sit <a href="#">amet consectetur</a> adipisicing elit, <strong>sed do eiusmod</strong> tempor</p>
                                          </div>
                                        </div>
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/layout.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Layout design</h4>
                                          <p>Cras <strong>vestibulum</strong> <a href="#">justo eget lorem</a> semper ac facilisis nulla porta</p>
                                          </div>
                                        </div>  
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/pencil.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Drawing</h4>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                          </div>
                                        </div>
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/code.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Programming</h4>
                                          <p>Lorem ipsum dolor sit amet, <a href="#"><strong>consectetur adipisicing elit</strong></a>, sed do eiusmod tempor</p>
                                          </div>
                                        </div>                                     
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/travel.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Custom work</h4>
                                          <p>Lorem ipsum dolor sit <a href="#">amet consectetur</a> adipisicing elit, <strong>sed do eiusmod</strong> tempor</p>
                                          </div>
                                        </div>
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/security.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Security</h4>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                          </div>
                                        </div>
                                        
                                        <h3>Prices</h3>
                                        
                                        <ul class="responsive_table">
                                             <li class="table_row">
                                                <div class="table_section_small">Nr</div>
                                                <div class="table_section">Service</div>
                                                <div class="table_section">Price</div> 
                                             </li>
                                             <li class="table_row">
                                                <div class="table_section_small">01</div>
                                                <div class="table_section">Web development</div>
                                                <div class="table_section">1200$</div> 
                                             </li>
                                             <li class="table_row">
                                                <div class="table_section_small">02</div>
                                                <div class="table_section">Drawing</div>
                                                <div class="table_section">600$</div> 
                                             </li>
                                             <li class="table_row">
                                                <div class="table_section_small">03</div>
                                                <div class="table_section">Custom work</div>
                                                <div class="table_section">500$</div> 
                                             </li>
                                             <li class="table_row">
                                                <div class="table_section_small">04</div>
                                                <div class="table_section">Layout design</div>
                                                <div class="table_section">800$</div> 
                                             </li>
                                             <li class="table_row">
                                                <div class="table_section_small">05</div>
                                                <div class="table_section">Security</div>
                                                <div class="table_section">650$</div> 
                                             </li>
                                        </ul>
                                        
                                        <div class="clearfix"></div>
      <div class="scrolltop radius20"><a onClick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);"><img src="images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
         </div>
    </div>
</div> 
</body>
</html>