<!DOCTYPE html>
<html>
<head>
<title>GoMobile - A next generation web app theme</title>
</head>
<body>
<div id="wrapper">

    <div id="content">
            <div id="header">
                  <div class="gohome radius20"><a href="index.html" id="homebutton"><img src="images/icons_contour/home.png" alt="" title="" /></a></div>
                  <div class="gomenu radius20"><a href="contact.html" id="contactbutton"><img src="images/icons_contour/contact.png" alt="" title="" /></a></div>
            </div>
            
            
       <div class="sliderbg">
                                        <div class="pages_container">
                                        <h2 class="page_title">Our Clients</h2>
                                       <div class="client_row"> 
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/clients.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Web company</h4>
                                          <p>Lorem ipsum dolor sit amet, <a href="#"><strong>consectetur adipisicing elit</strong></a>, sed do eiusmod tempor</p>
                                          </div>
                                        </div> 
                                        <h3>Things we done for this client:</h3>
                                        <ul class="listing">
                                        <li>Proin dignissim risus ut quam aliquam dignissim.</li>
                                        <li>Nunc erat eros, cursus et commodo vitae, pulvinar ac libero.</li>
                                        <li>In erat elit, bibendum vitae commodo vitae, bibendum non justo.</li>
                                        </ul> 
                                        <a href="#" class="button_12 green green_borderbottom radius4">See work</a>  <a href="#" class="button_12 blue blue_borderbottom radius4">Client web</a> 
                                      </div>
                                      <div class="client_row">                                  
                                        <div class="service_box">
                                          <div class="services_icon"><img src="images/icons/clients.png" alt="" title="" /></div>
                                          <div class="service_content">
                                          <h4>Design company</h4>
                                          <p>Lorem ipsum dolor sit <a href="#">amet consectetur</a> adipisicing elit, <strong>sed do eiusmod</strong> tempor</p>
                                          </div>
                                        </div>
                                        <h3>Things we done for this client:</h3>
                                        <ul class="listing">
                                        <li>Proin dignissim risus ut quam aliquam dignissim.</li>
                                        <li>Nunc erat eros, cursus et commodo vitae, pulvinar ac libero.</li>
                                        <li>In erat elit, bibendum vitae commodo vitae, bibendum non justo.</li>
                                        </ul>
                                        <a href="#" class="button_12 green green_borderbottom radius4">See work</a>  <a href="#" class="button_12 blue blue_borderbottom radius4">Client web</a>  
                                      </div>
                                      
                                      
                                        <div class="clearfix"></div>
    					<div class="scrolltop radius20"><a onClick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);"><img src="images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
         </div>
    </div>
</div> 
</body>
</html>