<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-320x460.png" />
<meta name="author" content="FamousThemes" />
<meta name="description" content="GoMobile - A next generation web app theme" />
<meta name="keywords" content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app" />
<title>GoMobile - A next generation web app theme</title>
<link type="text/css" rel="stylesheet" href="css/style.css"/>
<link type="text/css" rel="stylesheet" href="colors/splash/splash.css"/>
<link type="text/css" rel="stylesheet" href="css/swipebox.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">

    <div id="content">
      
          <div class="sliderbg_menu">
            
            <nav id="menu">
            <ul>
            <li><a href="about.html"><img src="images/icons/about.png" alt="" title="" /><span>About Us</span></a></li>
            <li><a href="services.html"><img src="images/icons/tools.png" alt="" title="" /><span>Services</span></a></li>
            <li><a href="blog.html"><img src="images/icons/blog.png" alt="" title="" /><span>Blog</span></a></li>
            <li><a href="portfolio.html"><img src="images/icons/docs.png" alt="" title="" /><span>Portfolio</span></a></li>
            <li><a href="gallery.html"><img src="images/icons/photos.png" alt="" title="" /><span>Gallery</span></a></li>
            <li><a href="videos.html"><img src="images/icons/videos.png" alt="" title="" /><span>Videos</span></a></li>
            <li><a href="clients.html"><img src="images/icons/clients.png" alt="" title="" /><span>Clients</span></a></li>
            <li><a href="twitter.html"><img src="images/icons/twitter.png" alt="" title="" /><span>Twitter</span></a></li>
            <li><a href="contact.html"><img src="images/icons/contact.png" alt="" title="" /><span>Contact</span></a></li>
            </ul>
            </nav>
           <div class="clear"></div>  
         
         </div>
         
    </div>
</div>
</body>
</html>